/*-----------页面一-------------*/
.app {
    padding-bottom: 100px;
}

.index_banner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search {
    position: absolute;
    width: 100%;
    top: 13px;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}

.search_input {
    flex: 1;
    background-color: rgba(255, 255, 255, .5);
    margin: 0 17px;
    border-radius: 5px;
}

.search_input input {
    padding: 8px 0;
    text-align: center;
    color: #222;
    font-size: 12px;

}

.search_input input::placeholder {
    color: #222;
}

.search .iconfont {
    color: #fff;
}

.search_input .iconfont {
    position: absolute;
    left: 38%;
    z-index: 2;
    top: 8px;
    color: #222222;
    font-size: 14px;
}

.index_banner img {
    width: 100%;
}

.index_nav {
    width: 93%;
    margin: -30px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 10px 40px 0px rgba(215, 215, 215, 0.57);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    padding: 15px 20px;
}

.nav_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #222222;
    font-size: 11px;
}

.n_icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    color: #fff;
    margin-bottom: 3px;
}

.icon1 {
    background: linear-gradient(180deg, rgba(255, 153, 102, 1) 0%, rgba(255, 94, 98, 1) 100%);
    box-shadow: 0px 7px 11px 2px rgba(249, 49, 47, 0.36);
}

.icon2 {
    background: linear-gradient(180deg, rgba(249, 212, 36, 1) 0%, rgba(253, 171, 98, 1) 100%);
    box-shadow: 0px 7px 9px 1px rgba(250, 140, 24, 0.22);
}

.icon3 {
    background: linear-gradient(180deg, rgba(249, 212, 36, 1) 0%, rgba(253, 171, 98, 1) 100%);
    box-shadow: 0px 7px 9px 1px rgba(250, 140, 24, 0.22);
}

.icon4 {
    background: linear-gradient(180deg, rgba(118, 231, 162, 1) 5%, rgba(73, 203, 124, 1) 98%);
    box-shadow: 0px 7px 11px 2px rgba(16, 243, 139, 0.24);
}

.icon5 {
    background: linear-gradient(180deg, rgba(124, 219, 249, 1) 5%, rgba(47, 128, 237, 1) 100%);
    box-shadow: 0px 7px 9px 2px rgba(16, 118, 243, 0.25);
}

.index_rec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0;
    width: 93%;
    margin: 0 auto;
}

.index_rec .left, .index_rec .right {
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.index_rec .left img, .index_rec .right img {
    width: 100%;
}


.index_rec .right a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.index_rec .right a:last-child {
    margin: 0;
}

.index_ad {
    width: 93%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index_ad img {
    width: 100%;
}

.index_vip {
    width: 93%;
    margin: 16px auto;
    font-size: 17px;
    position: relative;
    font-weight: bold;
}

.index_vip span {
    position: absolute;
    left: 0;
    bottom: 5px;
    z-index: -1;
    width: 49px;
    height: 9px;
    background: rgba(63, 177, 108, .61);
}

.vip_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 93%;
    margin: 0 auto;
}

.vip_list .vip_item {
    width: 49%;
}

.vip_title {
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 5px 0 0 0;
}

.vip_title img {
    margin-left: 3px;
}

.vip_list .vip_img {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.vip_list .vip_img img {
    width: 100%;
}

.vip_item .nprice {
    color: #F13535;
    font-size: 14px;
}

.vip_item .oprice {
    color: #999999;
    font-size: 10px;
    text-decoration: line-through;
    margin-left: 5px;
}

.userlike span {
    background: rgba(251, 97, 97, .61);
}

.index_bottom {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 100;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;
}

.index_bottom .b_item {
    color: #999999;
    font-size: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.index_bottom .b_active {
    color: #3FB26D;
}

/*-----------页面二-------------*/
.r_title {
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    background-color: #fff;
    font-size: 18px;
    color: #222;
    box-shadow: 0px 2px 3px 0px rgba(85, 84, 84, 0.11);
}

.r_status {
    display: flex;
    align-items: center;
    padding: 10px 30px 3px 30px;
    justify-content: space-between;
    background-color: #fff;
    margin: 1px 0;
}

.r_status a {
    font-size: 14px;
    color: #222;
    /*padding: 3px 0;*/
}

.r_status .r_active {
    color: #3FB26D;
    border-bottom: 1px solid #3FB26D;
}

.r_info {
    border-radius: 5px;
    width: 93%;
    margin: 15px auto;
    background-color: #fff;
}

.r_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 12px;
    border-bottom: 1px solid #F3F5F7;
}

.car {
    padding: 8px 12px;
}

.car span {
    font-size: 8px;
    color: #E64A4E;
    flex-shrink: 0;
}

.car img {
    width: 30px;
    margin-right: 10px;
}

.r_item .r_left {
    color: #222;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.r_item .r_right {
    color: #666666;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.r_right .iconziyuan12 {
    color: #3FB26D;
    margin-right: 10px;
}

.r_item .r_right a {
    color: #666666;
}

.r_item:last-child {
    border: 0
}

.r_btn {
    background: rgba(63, 178, 109, 1);
    box-shadow: 0px 4px 9px 0px rgba(53, 167, 99, 0.36);
    border-radius: 0px 0px 3px 3px;
    font-size: 15px;
    color: #fff;
    padding: 13px 0;
    text-align: center;
}

/*-----------页面三-------------*/

.w_body {
    background-image: url("../img/w_body.jpg");
    height: 85vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.w_info {
    background-color: #fff;
    border-radius: 3px;
    width: 93%;
    margin: 0 auto;
}

.w_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;

}

.w_m {
    flex: 1;
    margin: 0 15px;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    color: #222;
}

.w_title {
    color: #666;
    font-size: 14px;

}

.w_r {
    color: #666;
    font-size: 10px;
}

/*-----------页面四-------------*/
.list {
    background-color: #fff;
}

.list_item {
    display: flex;
    align-items: center;
    margin: 0 12px;
    padding: 17px 0 10px 0;
    border-bottom: 1px solid #F3F5F7;
}

.list_item .list_img {
    width: 122px;
    flex-shrink: 0;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.list_item .list_img img {
    width: 100%;
}

.list_title {
    color: #222;
    font-size: 14px;
    padding: 5px 0 10px 0;
}

.list_tel {
    color: #999999;
    font-size: 11px;
}

.list_name {
    font-size: 12px;
    color: #222;
}

/*-----------页面五-------------*/

.a_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: #fff;
    margin-top: 1px;
}

.a_left {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.a_left img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
}

.a_right {
    color: #666666;
    font-size: 16px;
}

.appoint {
    margin: 10px auto;
}

.appoint .iconfont {
    color: #3FB26D;
}

.appoint .w_r {
    font-size: 16px;
}

.tips {
    width: 93%;
    margin: 0 auto;
    font-size: 11px;
    color: #3FB26D;
}

.a_btn {
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 15px;
    background: rgba(63, 178, 109, 1);
    box-shadow: 0px 4px 9px 0px rgba(53, 167, 99, 0.36);
    border-radius: 3px;
    width: 93%;
    margin: 50px auto;
    text-align: center;
}

/*-----------页面六-------------*/

.info_box {
    position: relative;
}

.m_top {
    height: 136px;
    background-color: #3FB26D;
}

.m_info {
    background-color: #fff;
    box-shadow: 0px 5px 12px 0px rgba(218, 218, 218, 0.42);
    border-radius: 5px;
    margin: -80px auto 0 auto;
    width: 93%;

}

.userinfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /*position: relative;*/
}

.userinfo img {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 36px;
    z-index: 10;
}

.m_name {
    padding: 50px 0 0 0;
}

.m_tel {
    font-size: 12px;
    color: #666;
}

.user_account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}

.u_item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #CBCBCB;
    flex-direction: column;
}

.u_item:last-child {
    border: 0;
}

.u_item .u_money {
    color: #FF9D45;
    font-size: 12px;
    margin-bottom: 5px;
}

.u_text {
    color: #222222;
    font-size: 12px;
}

.u_text .iconfont {
    margin-right: 5px;
}

.my {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 13px auto;
    padding: 15px 0;
}

.m_item {
    display: flex;
    align-items: center;
    width: 33%;
    flex-shrink: 0;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    color: #222222;
    font-size: 13px;

}

.m_item .iconfont {
    color: #3FB26D;
    margin-bottom: 10px;
    font-size: 22px;
}

/*-----------页面七-------------*/

.comment_box {
    position: relative;
    height: 90vh;
    margin-top: 5px;
}

.comment_box .left {
    position: absolute;
    width: 25%;
    left: 0;
    top: 0;
    background-color: #fff;
    height: 90vh;
    overflow: scroll;
}

.comment_box .left a {
    font-size: 15px;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    display: block;
}

.comment_box .left .c_active {
    background-color: #F4FCF7;
    font-weight: bold;
}

.comment_box .right {
    width: 75%;
    position: absolute;
    right: 0;
    top: 0;
    height: 90vh;
    overflow: scroll;
}

.r_list {
    margin: 8px 10px;
}

.r_list .car_item {
    background: #fff;
    box-shadow: 0px 3px 16px 0px rgba(171, 171, 171, 0.2);
    border-radius: 3px;
    padding: 0 5px;
    margin-bottom:11px;
}

.car_item .r_top {
    padding: 14px 0;
    font-size: 13px;
    color: #222222;
}

.car_item .r_top .r_car {
    color: #3FB26D;
    font-size: 8px;
    margin-left: 5px;
}

.r_address {
    font-size: 12px;
    color: #222222;
}

.r_address .iconfont {
    color: #34A5D4;
    margin-left: 5px;
    font-size: 10px;
}

.score {
    font-size: 10px;
    color: #FA621F;
}

.score .iconfont {
    font-size: 10px;
}

.r_content {
    font-size: 12px;
    color: #333;
    margin: 3px 0;
    line-height: 20px;
}

.r_imgsbox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.r_imgs {
    width: 49%;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.r_imgs img {
    width: 100%;
}

.target_box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #F4F5F7;
    padding: 10px 2px;
}

.target_box .target {
    font-size: 8px;
    padding: 2px 5px;
    border-radius: 3px;
    margin-right: 5px;
}

.time {
    color: #3FB26D;
    background-color: #F4FCF7;
}

.again {
    color: #808DD0;
    background-color: #EFF1FB;
}
.r_time{
    text-align: right;
    padding: 10px 2px;
    font-size: 11px;
    color: #666666;
}